<section>
  <div class="section-div">
    <h2>Documentaci贸n</h2>
    <br />
    <p class="p-especial">
      La documentaci贸n es esencial para el 茅xito de cualquier proyecto.
      Ofrecemos servicios de documentaci贸n exhaustiva que garantizan la claridad
      y la eficiencia en cada paso de tu proceso, desde la planificaci贸n hasta
      la implementaci贸n.
    </p>
    <div class="hdos">
      <img
      title="Documentaciones"
        src="/documentacion.svg"
        alt="Imagen rota de:  Ilustraci贸n acerca de la documentaci贸n"
      />
    </div>
  </div>
</section>

<style>
  section {
    display: block;
    text-align: right;
    padding: 50px 20px;
    max-width: 720px;
    margin: 0 auto;
  }

  .titulo {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .titulo h2 {
    text-align: left;
  }

  .section-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .huno {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 2rem;
  }
  .hdos {
    display: flex;
    align-items: start;
    justify-content: start;
  }

  h2 {
    text-align: right;
  }

  .p-especial {
    text-align: right;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media screen and (max-width: 360px) {
    section {
      padding: 20px;
    }
  }
</style>
