<figure>
  <figcaption>
    <h2>Ilustraciones</h2>
    <p>
      Nuestro dedicado equipo de artistas visuales trabaja para dar vida a ideas
      y conceptos a través de ilustraciones. Cada obra representa una fusión de
      técnicas, diseñadas para transmitir historias, evocar y estimular la
      imaginación.
    </p>
    <img src="/elephant.svg" alt="Ilustración de un elefante" />
  </figcaption>
  <button>Obtener servicio</button>
</figure>

<style>
  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media screen and (min-width: 360px) {
    section {
      padding: 40px;
    }
  }
</style>
