<section class="section">
  <div class="titulo">
    <br />
    <h2>Ilustraciones</h2>
  </div>

  <div class="section-div">
    <div class="huno">
      <img
        src="/elephant.svg"
        alt="Imagen rota de:  Ilustraci贸n acerca de la Ilustraci贸n"
        loading="lazy"
      />
    </div>
    <p class="p-especial">
      Nuestro dedicado equipo de artistas visuales trabaja para dar vida a ideas
      y conceptos a trav茅s de ilustraciones. Cada obra representa una fusi贸n de
      t茅cnicas, dise帽adas para transmitir historias, evocar y estimular la
      imaginaci贸n.
    </p>
  </div>
</section>

<style>
  section {
    display: block;
    text-align: right;
    padding: 50px 20px;
    max-width: 720px;
    margin: 0 auto;
  }

  .titulo {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .titulo h2 {
    text-align: left;
  }

  .section-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .huno {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 2rem;
  }
  .hdos {
    display: flex;
    align-items: start;
    justify-content: start;
  }

  h2 {
    text-align: right;
  }

  .p-especial {
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media screen and (max-width: 360px) {
    section {
      padding: 20px;
    }
  }
</style>
