<figure>
  <figcaption>
    <h2>Modelado 3D</h2>
    <p>
      Exploramos los límites de la tecnología en el modelado 3D. Nuestros
      conceptos en modelos tridimensionales realistas encuentran aplicaciones en
      diversos campos, desde la arquitectura hasta la industria del
      entretenimiento.
    </p>
    <img src="/susan.png" alt="Ilustracion para seccion de Modelado 3D" />
  </figcaption>
  <button>Obtener servicio</button>
</figure>

<style>
  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media screen and (min-width: 360px) {
    section {
      padding: 40px;
    }
  }
</style>
