
<figure>
  <figcaption>
    <h2>Desarrollo Web</h2>
    <p>
      Nuestros desarrollos se trabajan con precisión para crear buenas
      experiencias digitales. Ya sea que necesites una presencia en línea sólida
      o una aplicación móvil personalizada, estamos listos.
    </p>
    <img src="/www.svg" alt="Ilustracion para seccion de Desarrollo web" />
  </figcaption>
  <button>Obtener servicio</button>
</figure>

<style>
  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media screen and (min-width: 360px) {
    section {
      padding: 40px;
    }
  }
</style>
