<section class="section-uno">
  <div class="titulo">
    <br />
    <h2>Web</h2>
  </div>
  <div class="section-div">
    <div class="hdos">
      <img
        title="Desarrollo Web"
        src="/www.svg"
        alt="Imagen rota de:  Ilustraci贸n acerca de la World Wide Web"
      />
    </div>
    <p class="p-especial">
      Nuestros desarrollos se trabajan con precisi贸n para crear buenas
      experiencias digitales. Ya sea que necesites una presencia en l铆nea s贸lida
      o una aplicaci贸n m贸vil personalizada, estamos listos.
    </p>
  </div>
</section>

<style>
  section {
    display: block;
    text-align: right;
    padding: 50px 20px;
    max-width: 720px;
    margin: 0 auto;
  }

  .titulo {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .titulo h2 {
    text-align: left;
  }

  .section-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .huno {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 2rem;
  }
  .hdos {
    display: flex;
    align-items: start;
    justify-content: start;
  }

  h2 {
    text-align: right;
  }

  .p-especial {
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media screen and (max-width: 360px) {
    section {
      padding: 20px;
    }
  }
</style>
