---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Acerca de">
  <section>
    <h2>
      Bienvenido a
      <br />
      <span>[</span>
      <span class="conhex">Concepto Hex谩gono</span>
      <span>]</span>
    </h2>
    <p class="italic">
      Somos un grupo joven y din谩mico que se especializa en una amplia gama de
      servicios creativos y tecnol贸gicos. Nuestro interes por la expresi贸nes
      art铆sticas y las tecnolog铆as nos impulsan a ofrecer soluciones actuales a
      nuestros clientes.
    </p>

    <section>
      <h1>... por la Imaginaci贸n</h1>
      <p>
        Cada una de las piezas de dise帽o que presentamos en este espacio es el
        resultado de un proceso profundo de exploraci贸n creativa. Con el
        respaldo de nuestras habilidades en los distintas tecnicas, softwares y
        lenguajes, transformamos conceptos abstractos en obras visuales que
        comunican historias, expresen y despiertan la curiosidad.
      </p>
      <p>
        Nuestra principal meta es superar las limitaciones que tengamos y
        ofrecer piezas que inspiren y conecten a nivel personal. Cada obra
        representa una investigaci贸n meticulosa de la creatividad, donde la
        convergencia de conceptos y habilidades t茅cnicas se traduce en una
        expresi贸n art铆stica 煤nica y significativa.
      </p>
    </section>

    <!-- <section>
      <div class="popover">
        <span>隆Pasa el rat贸n por encima!</span>
        <div class="popover-content">Contenido</div>
      </div>
    </section> -->
  </section>

  <style>
    section {
      text-align: left;
      padding: 10px 20px;
      max-width: 720px;
      margin: 0 auto;
    }
    h2 {
      text-align: center;
      padding-bottom: 20px;
    }
    span {
      color: var(--link);
    }

    strong {
      color: var(--light-text);
    }

    @media screen and (max-width: 360px) {
      section {
        padding: 20px;
      }
    }

    /*  PERSONAL  */

    .italic {
      font-style: italic;
      padding-bottom: 10px;
    }

    .conhex {
      font-size: 28px;
      color: var(--light);
    }
  </style>
</Layout>
