---
import Layout from "../layouts/Layout.astro";
import Logo from "../components/logo.astro";
---

<Layout title="Concepto Hexágono">
  <main>
    <h1 class="title-main">CONCEPTO HEXAGONO</h1>
    <div class="logo">
      <Logo />
    </div>
  </main>
</Layout>

<style>
  .title-main{
    text-align: center;
  }
</style>
