---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Servicios">
  <section class="section-uno">
    <h2>Ilustraciones</h2>
    <div class="section-div">
      <h1>锔</h1>
      <p class="p-especial">
        Nuestro dedicado equipo de artistas visuales trabaja para dar vida a
        ideas y conceptos a trav茅s de ilustraciones. Cada obra representa una
        fusi贸n de t茅cnicas, dise帽adas para transmitir historias, evocar y
        estimular la imaginaci贸n.
      </p>
    </div>
  </section>
  <section>
    <div class="section-div">
      <h2>Modelado 3D</h2>
      <br>
      <p>
        Exploramos los l铆mites de la tecnolog铆a en el modelado 3D. Nuestros
        conceptos en modelos tridimensionales realistas encuentran aplicaciones
        en diversos campos, desde la arquitectura hasta la industria del
        entretenimiento.
      </p>
      <h1></h1>
    </div>
  </section>
  <section class="section-uno">
    <h2>Desarrollo Web</h2>
    <div class="section-div">
      <h1></h1>
      <p class="p-especial">
        Nuestros desarrollos y de aplicaciones trabajan con precisi贸n para crear
        buenas experiencias digitales. Ya sea que necesites una presencia en
        l铆nea s贸lida o una aplicaci贸n m贸vil personalizada, estamos listos.
      </p>
    </div>
  </section>

  <section>
    <div class="section-div">
      <h2>Documentaci贸n</h2>
      <br>
      <p>
        La documentaci贸n es esencial para el 茅xito de cualquier proyecto.
        Ofrecemos servicios de documentaci贸n exhaustiva que garantizan la
        claridad y la eficiencia en cada paso de tu proceso, desde la
        planificaci贸n hasta la implementaci贸n.
      </p>
      <h1></h1>
    </div>
  </section>
</Layout>

<style>
  section {
    display: block;
    text-align: right;
    padding: 50px 20px;
    max-width: 720px;
    margin: 0 auto;
  }

  .section-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  h1 {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .p-especial {
    text-align: left;
  }


  @media screen and (max-width: 360px) {
    section {
      padding: 20px;
    }
  }
</style>
