---
import Svggit from "./socials/Svggit.astro";
import Svginst from "./socials/Svginst.astro";
import Svgface from "./socials/Svgface.astro";

const today = new Date();
---

<footer>
  <span class="copy">&copy;</span>
  {today.getFullYear()} Concepto Hexágono.
  <p>
    Sitio creado por <a href="birdie">Bird</a> & <a href="fang">Fang</a>.
  </p>
  <div class="social-links">
    <a href="/" target="_blank">
      <Svgface />
    </a>
    <a href="/" target="_blank">
      <Svginst />
    </a>
    <a href="/" target="_blank">
      <Svggit />
    </a>
  </div>
</footer>

<!-- Estilos CSS -->

<style>
  footer {
    text-align: center;
    /* padding-top: 10rem; */
  }

  a {
    color: var(--link);
  }
  a:hover {
    text-decoration: 3px underline var(--link);
    color: var(--light);
  }

  p {
    padding: 0%;
  }

  .social-links {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 0.5rem;
  }

  /* ESTILOS PROPIOS */
  .copy {
    color: var(--link);
  }
</style>

<!-- Fin de estilos CSS -->
