---
import Svggit from "./socials/Svggit.astro";
import Svginst from "./socials/Svginst.astro";
import Svgface from "./socials/Svgface.astro";
import LogoIcono from "./LogoIcono.astro";
import HeaderLink from "./HeaderLink.astro";
import MenuSvg from "./MenuSvg.astro";
---

<header>
  <nav>
    <a href="/"><LogoIcono /></a>
    <nav class="nav-desktop">
      <HeaderLink href="/">Inicio</HeaderLink>
      <HeaderLink href="/servicios">Servicios</HeaderLink>
      <HeaderLink href="/acercade">Acerca de</HeaderLink>
    </nav>
    <div class="social-links">
      <a title="Facebook" href="/" target="_blank">
        <Svgface />
      </a>
      <a title="Instagram" href="/" target="_blank">
        <Svginst />
      </a>
      <a title="Github" href="/" target="_blank">
        <span class="sr-only">Go to Gramaphenia & BirdieOA GitHub repos</span>
        <Svggit />
      </a>
    </div>
    <div class="menu-svg popover">
      <div class="popover-content">Menú</div>
      <section>
        <a onclick="window.modal.showModal(); "><MenuSvg /></a>
        <dialog id="modal">
          <nav class="menu">
            <button class="boton-cierre" onclick="window.modal.close();"
              >salir</button
            >
            <HeaderLink href="/">Inicio</HeaderLink>
            <HeaderLink href="/servicios">Servicios</HeaderLink>
            <HeaderLink href="/acercade">Acerca de</HeaderLink>
          </nav>
        </dialog>
      </section>
    </div>
  </nav>
</header>

<style>
  header {
    width: 720px;
    max-width: calc(100% - 2em);
    margin: auto;
    justify-content: center;
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--link);
  }

  a:hover {
    color: var(--light);
    text-decoration: 6px underline var(--link);
    text-underline-offset: 6px;
  }

  .dialog {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra horizontalmente el contenido */
    justify-content: center; /* Centra verticalmente el contenido */
    height: 100%; /* Ajusta la altura para centrar verticalmente */
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    gap: 1rem;
  }

  .menu {
    flex-direction: column;
    width: 350px;
    height: 500px;
    font-size: 30px;
    padding-bottom: 40px;
  }

  .boton-cierre {
    background: #00000037;
    text-align: var(--light);
    font-size: 20px;
    color: var(--link);
    border: 1px solid var(--light);
  }

  .social-links {
    display: flex;
  }

  @media (max-width: 720px) {
    .social-links {
      display: none;
    }
  }

  @media (min-width: 720px) {
    .menu-svg {
      display: none;
    }
  }

  @media (max-width: 720px) {
    .nav-desktop {
      display: none;
    }
  }
</style>
