---
import Svggit from "./socials/Svggit.astro";
import Svginst from "./socials/Svginst.astro";
import Svgface from "./socials/Svgface.astro";
import LogoIcono from "./LogoIcono.astro";
import HeaderLink from './HeaderLink.astro';
---

<header>
  <nav>
    <a href="/"><LogoIcono /></a>
    <nav>
      <HeaderLink href="/">inicio</HeaderLink>
      <HeaderLink href="/servicios">Servicios</HeaderLink>
      <HeaderLink href="/acercade">Acerca de</HeaderLink>
    </nav>
    <div class="social-links">
      <a title="Facebook" href="/" target="_blank">
        <Svgface />
      </a>
      <a title="Instagram" href="/" target="_blank">
        <Svginst />
      </a>
      <a title="Github" href="/" target="_blank">
        <span class="sr-only">Go to Gramaphenia & BirdieOA GitHub repos</span>
        <Svggit />
      </a>
    </div>
  </nav>
</header>

<style>
  header {
    width: 720px;
    max-width: calc(100% - 2em);
    margin: auto;
    justify-content: center;
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--link);
  }

  a:hover {
    color: var(--light);
    text-decoration: 6px underline var(--link);
    text-underline-offset: 6px;
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    gap: 1rem;
  }

  .social-links {
    display: flex;
  }

  @media (max-width: 720px) {
    .social-links {
      display: none;
    }
  }
</style>
