---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="hexagono" content="Concepto hexagono" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <!-- 🚫 FUENTES PRECARGADAS 🚫 -->
    <link
      rel="preload"
      href="/fonts/atkinson-regular.woff"
      as="font"
      type="font/woff"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      href="/fonts/atkinson-bold.woff"
      as="font"
      type="font/woff"
      crossorigin="anonymous"
    />

    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>

<!-- 🔴 🧩 GLOBAL STYLES 🧩 🔴 -->

<style is:global>
  @font-face {
    font-family: "Atkinson";
    src: url("/fonts/atkinson-regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Atkinson";
    src: url("/fonts/atkinson-bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

  :root {
    --dark: #1d1d27;
    --light: #c6dcff;
    --light-text: #dae4f7;
    --white: #fff;
    --link: #f87171;
    --border: #374151;
    --button: #c6dcff;
    --button-hover: #55688a;
  }

  body {
    font-family: "Atkinson", sans-serif;
    margin: 0;
    padding: 0;
    text-align: left;
    background: var(--dark);
    background-size: 100% 600px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    color: var(--light);
    font-size: 20px;
    line-height: 1.7;
    overflow-y: scroll;
  }

  main {
    width: 720px;
    max-width: calc(100% - 2em);
    margin: auto;
    padding: 0em 1em;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0 0 0.5rem 0;
    color: var(--light);
    line-height: 1;
  }

  h1 {
    font-size: 3.052em;
  }
  h2 {
    font-size: 2.441em;
  }
  h3 {
    font-size: 1.953em;
  }
  h4 {
    font-size: 1.563em;
  }
  h5 {
    font-size: 1.25em;
  }
  strong,
  b {
    font-weight: 700;
  }
  a {
    color: var(--light);
    text-decoration: none;
  }
  textarea {
    width: 100%;
    font-size: 16px;
  }
  input {
    font-size: 16px;
  }

  /* 🔴 🧩 BUTTONS 🧩 🔴 */

  button {
    background: var(--light);
    padding: 10px 10px;
    border: var(--border);
    border-radius: 6px;
  }
  button:hover {
    background: var(--button-hover);
    cursor: pointer;
    border: #374151;
    color: var(--light-text);
  }

  table {
    width: 100%;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  code {
    padding: 2px 5px;
    color: var(--dark);
    background-color: var(--light);
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
  }
  pre {
    padding: 1.5em;
    border-radius: 8px;
  }
  pre > code {
    all: unset;
  }
  blockquote {
    border-left: 4px solid var(--link);
    padding: 0 0 0 20px;
    margin: 0px;
    font-size: 1.333em;
  }
  hr {
    border: none;
    border-top: 1px solid var(--link);
  }

  /* 🔴 🧩 FIGURE 🧩 🔴 */

  figure {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 40px auto;
    padding: 40px;
    border: 1px solid;
    border-radius: 8px;
    box-sizing: border-box;
    width: 90%;
  }

  @media screen and (max-width: 768px) {
    figure {
      margin: 40px auto;
    }
  }

  @media (max-width: 720px) {
    body {
      font-size: 18px;
    }
    main {
      padding: 1em;
    }
  }

  /* SCROLL */
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background-color: var(--dark);
  }
  ::-webkit-scrollbar-thumb {
    background-color: var(--link);
    border-radius: 5px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: #374151;
  }

  .sr-only {
    border: 0;
    padding: 0;
    margin: 0;
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    white-space: nowrap;
  }

  .logo {
    display: flex;
    justify-content: center;
  }
</style>
